@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/angular-material/angular-material.css";

body {
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
/* Start writing sass here */
