 <div class="api-section md-whiteframe-z1 mb20" ng-repeat="api in apis">
  <div layout="column" layout-fill>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <span>Title</span>
        </h2>
        <span flex></span>
        <md-button aria-label="Expand" class="md-icon-button">
          <ng-md-icon icon="unfold_more" class="" size="20"></ng-md-icon>
        </md-button>
        <md-button aria-label="Delete" class="md-icon-button">
          <ng-md-icon icon="delete" class="" size="20"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-content flex layout-padding>
      <form name="userForm">
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Title</label>
            <input required ng-model="api.title" name="title">
            <div ng-messages="userForm.title.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Type</label>
            <md-select ng-model="api.type">
              <md-option value="get">
                GET
              </md-option>
              <md-option value="post">
                POST
              </md-option>
              <md-option value="put">
                PUT
              </md-option>
              <md-option value="delete">
                DELETE
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <md-input-container class="md-block">
          <label>URL</label>
          <input required name="url" ng-model="api.url">
          <div ng-messages="userForm.url.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <ng-md-icon icon="check" class="" size="20"></ng-md-icon>
        <md-button class="md-raised md-primary">Test</md-button>

        <div class="testing-playground" layout-gt-sm="row">
          <div ng-if="api.Response" class="" flex-gt-sm jsoneditor model="request"></div>
          <div ng-if="api.Response" class="" flex-gt-sm jsoneditor model="response"></div>
        </div>

        <md-input-container class="md-block">
          <label>Comment</label>
          <textarea columns="1" md-maxlength="150" ng-model="api.comment" rows="5"></textarea>
        </md-input-container>

        <md-button class="md-raised">Save</md-button>
      </form>
    </md-content>
  </div>

</div>
